// Media sizes
$phoneWidth: 480px;
$tabletWidth: 768px;
$desktopWidth: 992px;
$largeDesktopWidth: 1200px;

// Colors
$white: #FFF;
$black: #000;
$blue: #4EBFDF;
$orange: #F8AB3F;

// Fonts
$openSans: 'Open Sans', sans-serif;
$font-family: $openSans;
$font-size: 12px;
$font-color: $black;
$font-weight: normal;


